.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 25px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      ". api-gallery-tittle ."
      "call1 call2 call3"
      "call4 call5 call6"
      "call7 call8 call9";
  }
  
  .api-gallery-tittle { 
      grid-area: api-gallery-tittle;
      text-align: center;
     }
    
  .call1 { grid-area: call1; }
  
  .call2 { grid-area: call2; }
  
  .call3 { grid-area: call3; }
  
  .call4 { grid-area: call4; }
  
  .call5 { grid-area: call5; }
  
  .call6 { grid-area: call6; }
  
  .call7 { grid-area: call7; }
  
  .call8 { grid-area: call8; }
  
  .call9 { grid-area: call9; }
  