{% extends 'components/layout.html'%}

{% block css %}
<link rel="stylesheet" href="../static/css/gallery.css">
{% endblock css %}

    

{% block content %}
<div class="row justify-content-center"></div>
  <div class="container">
      {% for i in range(9) %}
      <div class="call{{i}}"><img class="img_fluid" src="{{mortys[i][1]}}" alt="{{mortys[1][0]}}"></div>
      <div class="call{{i}}">{{mortys_name[i][1]}}</div>
      {% endfor %}
      <div class=" character-gallery">Morty</div>
  </div>
</div>
  {% endblock content %}