{% extends 'components/layout.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/gallery.css">
{% endblock css %}

    
</div>
{% block content %}
<div class="row justify-content-center">
    <div class="container">
        {% for i in range(9) %}
        <div class="call{{i}}"><img class="img_fluid" src="{{ricks[i][1]}}" alt="{{ricks[1][0]}}"></div>
        <div class="call{{i}}">{{ricks_name[i][1]}}</div>
        {% endfor %}
        <div class=" character-gallery">Citidel of Ricks </div>
    </div>
</div>
{% endblock content %}